<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div th:insert="~{fragment/header :: navbar}"></div>
<div class="container">
    <hr/>
    <h3>Add New People from HTTP</h3>
    <hr/>
    <form th:action="@{/getFromHttp}" th:object="${people}" method="POST">
        <input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Enter HTTP address"/>
        <input type="text" th:field="*{surname}" class="form-control col-4 mb-4" placeholder="Enter login"/>
        <input type="text" th:field="*{sector}" class="form-control col-4 mb-4" placeholder="Enter password"/>
        <button type="submit" class="btn btn-primary col-2">Get</button>
    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>
</body>
</html>

