<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div th:insert="~{fragment/header :: navbar}"></div>
<div class="container">
  <hr/>
  <a th:href="@{/addPeopleForm}" class="btn btn-primary">Add People</a>
  <a th:href="@{/addPeopleFormFile}" class="btn btn-primary">Add People from File</a>
  <a th:href="@{/addPeopleFormHTTP}" onclick="return false" class="btn btn-primary">Add People from HTTP</a>
  <a th:href="@{/deleteAll}" class="btn btn-primary">delete All People</a>
  <br/><br/>
  <table class="table table-bordered table-striped" id="peopleTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Project</th>
      <th>Sector</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Position</th>
      <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="people: ${peoples}">
      <td th:text="${people.surname}"></td>
      <td th:text="${people.name}"></td>
      <td th:text="${people.projects}"></td>
      <td th:text="${people.sectors}"></td>
      <td th:text="${people.age}"></td>
      <td th:text="${people.salary}"></td>
      <td th:text="${people.position}"></td>
      <td th:text="${people.user}"></td>
      <td>
        <a th:href="@{/showUpdateForm(peopleId=${people.id})}" class="btn btn-info">Update</a>
        <a th:href="@{/deletePeople(peopleId=${people.id})}" class="btn btn-danger ml-2">Delete</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
  $(document).ready(function() {
      $("#peopleTable").DataTable({
          'aoColumnDefs': [{
              'bSortable': false,
              'aTargets': [-1] /* 1st one, start by the right */
          }]
      });
  })
</script>
</body></html>