<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div th:insert="~{fragment/header :: navbar}"></div>

<div class="container">
  <div class="row col-md-10">
    <h2>List of Registered Users</h2>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>passwordConfirm</th>
      <th>enabled</th>
      <th>isUsing2FA</th>
      <th>Role</th>
      <th>EDIT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.email}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.passwordConfirm}"></td>
      <td th:text="${user.enabled}"></td>
      <td th:text="${user.isUsing2FA}"></td>
      <td th:text="${user.roles}"></td>
      <td><button class="btn btn-primary" type="submit">EDIT</button></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>