<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{fragment/header :: header}"></div>
</head>

<body>
<div th:insert="~{fragment/header :: navbar}"></div>
<div class="container">
  <hr/>
  <a th:href="@{/source/addForm}" class="btn btn-primary">Add Source</a>
  <a th:href="@{/source/deleteAll}" class="btn btn-primary">delete All Source</a>
  <br/><br/>
  <table class="table table-bordered table-striped" id="sourceTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Peoples</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="source: ${sources}">
      <td th:text="${source.name}"></td>
      <td th:text="${source.project}"></td>
      <td th:text="${source.peoples}"></td>
      <td>
        <a th:href="@{/source/showUpdateForm(sourceId=${source.id})}" class="btn btn-info">Update</a>
        <a th:href="@{/source/delete(sourceId=${source.id})}" class="btn btn-danger ml-2">Delete</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
  $(document).ready(function() {
      $("#sourceTable").DataTable({
          'aoColumnDefs': [{
              'bSortable': false,
              'aTargets': [-1] /* 1st one, start by the right */
          }]
      });
  })
</script>
</body></html>